<h1>Editing Dispositivo Atencion</h1>

<%= render 'form', dispositivo_atencion: @dispositivo_atencion %>

<%= link_to 'Show', @dispositivo_atencion %> |
<%= link_to 'Back', dispositivo_atenciones_path %>
