<div class='row'>
	<div class='col-md-6'>
		<%= render partial: '0p/form/form', locals: {c: controller_name, a: action_name} %>
	</div>
	<div class='col-md-6'>
		<% if objeto_tema_ayuda('mensaje').present? %>
			<%= render partial: 'help/mensajes/elem_mensaje', locals: {elem: objeto_tema_ayuda('mensaje')} %>
		<% end %>
	</div>
</div>