<h<%=size%>>
<p class='text-<%=app_color[:app]%>'>
	<% if action_name == 'new' %>
		<i class="bi bi-plus-circle"></i>
	<% end %>
	<% if action_name == 'edit' %>
		<i class="bi bi-pencil"></i>
	<% end %>
	</i> <%=text%>
</p>
</h<%=size%>>
