<h4><%= render partial: '0p/general/icon_text', locals: {gly: 'diagram-3', text: @objeto.st_modelo, clr: app_color[:app]} %></h4>

<%= render partial: '0p/tabla/solo_tabla', locals: {c: 'st_estados', a: 'index'} %>