<h4><%= render partial: '0p/general/icon_text', locals: {gly: 'archive', text: "Repositorio #{@objeto.repositorio}", clr: app_color[:app]} %></h4>

<div class='row'>
	<div class='col-md-6'>
	    <%= render partial: 'aplicacion/app_directorios/partials/directorio', locals: {objeto: @objeto} %>
	</div>
	<div class='col-md-6'>
	</div>
</div>
