<li class="nav-item dropdown ml-auto">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Ayuda
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <% unless @temas_ayuda.empty? %>
      <% @temas_ayuda.each do |tema| %>
        <%= link_to tema.tema_ayuda, tema, class: "dropdown-item" %>
      <% end %>
    <% end %>

    <% if usuario_signed_in? %>
      <% if admin? %>
        <div class="dropdown-divider"></div>
        <% unless @temas_admin.empty? %>
          <% @temas_admin.each do |tema| %>
            <%= link_to tema.tema_ayuda, tema, class: "dropdown-item" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <div class="dropdown-divider"></div>
    <% unless @tutoriales_basicos.blank? %>
    <% unless @tutoriales_basicos.empty? %>
      <% @tutoriales_basicos.each do |tutorial| %>
        <%= link_to tutorial.tutorial, tutorial, class: "dropdown-item" %>
      <% end %>
      <% end %>
    <% end %>
  </div>
</li>
