<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un link para cambiar su contraseña. Usted puede realizar esto a través del siguiente link.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si usted no lo solicitó, por favor ignore este email.</p>
<p>Su contraseña no cambiará hasta que usted entre al link de arriba y cree una nueva.</p>
